* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#366785), to(#98d8ff));
  background: linear-gradient(to bottom right, #366785, #98d8ff);
  color: #fff;
  font-size: 24px;
  font-family: "Oswald", serif;
  font-weight: 400;
}

.container {
  max-width: 1689px;
  padding: 0px 31px;
  margin: 0 auto;
}

.title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}

.tag-el {
  font-size: 20px;
  padding: 1px 12px 4px 12px;
  font-weight: 200;
  background-color: #e3e3e3;
  color: #676767;
  border-radius: 20px;
}
@media (max-width: 1275px) {
  .tag-el {
    font-size: 16px;
    padding: 1px 10px 4px 10px;
  }
}

.title-row {
  margin-top: 50px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-row h1 {
  font-weight: 200;
  font-size: 54px;
  line-height: 50%;
}
.title-row img {
  width: 39px;
}
@media (max-width: 1275px) {
  .title-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fav {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-card {
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  padding: 12px 24px;
  height: 358px;
  overflow: hidden;
  width: 376px;
}
.content-card p {
  font-weight: 200;
  max-width: 300px;
}
.content-card h2 {
  font-size: 32px;
}

.visible-overflow {
  overflow: auto;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
  row-gap: 31px;
  margin-bottom: 30px;
}
@media (max-width: 1275px) {
  .content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 9px;
}

.img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.card-img {
  width: 21px;
  height: 21px;
}

#card-title-input::-webkit-input-placeholder {
  font-size: 32px;
}

#card-title-input::-moz-placeholder {
  font-size: 32px;
}

#card-title-input:-ms-input-placeholder {
  font-size: 32px;
}

#card-title-input::-ms-input-placeholder {
  font-size: 32px;
}

#card-title-input::placeholder {
  font-size: 32px;
}

#card-text-input::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 200;
}

#card-text-input::-moz-placeholder {
  font-size: 24px;
  font-weight: 200;
}

#card-text-input:-ms-input-placeholder {
  font-size: 24px;
  font-weight: 200;
}

#card-text-input::-ms-input-placeholder {
  font-size: 24px;
  font-weight: 200;
}

#card-text-input::placeholder {
  font-size: 24px;
  font-weight: 200;
}

#card-title-input {
  font-size: 32px;
  max-width: 230px;
  padding: 0 5px 0 0;
}

#card-text-input {
  font-size: 24px;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

#card-text {
  width: 100%;
}

#card-title {
  max-width: 245px;
  padding: 0 5px 0 0;
}

@media (max-width: 750px) {
  .title-row {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .title-row h1 {
    font-size: 34px;
  }
  .title-row img {
    width: 24px;
  }
  .content-card {
    padding: 8px 20px;
    height: 294px;
    width: 100%;
  }
  .content-card p {
    font-size: 18px;
  }
  .content-card h2 {
    font-size: 22px;
  }
  #card-title-input::-webkit-input-placeholder {
    font-size: 22px;
  }
  #card-title-input::-moz-placeholder {
    font-size: 22px;
  }
  #card-title-input:-ms-input-placeholder {
    font-size: 22px;
  }
  #card-title-input::-ms-input-placeholder {
    font-size: 22px;
  }
  #card-title-input::placeholder {
    font-size: 22px;
  }
  #card-text-input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 200;
  }
  #card-text-input::-moz-placeholder {
    font-size: 18px;
    font-weight: 200;
  }
  #card-text-input:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 200;
  }
  #card-text-input::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 200;
  }
  #card-text-input::placeholder {
    font-size: 18px;
    font-weight: 200;
  }
  #card-title-input {
    font-size: 22px;
    max-width: 245px;
    padding: 0 5px 0 0;
  }
  #card-text-input {
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    height: 100%;
  }
  .card-img {
    width: 20px;
  }
}
.hidden {
  display: none;
}

@media (max-width: 450px) {
  #card-title-input,
  #card-title {
    max-width: 185px;
  }
  #card-text-input {
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    height: 100%;
  }
}
.hidden {
  display: none;
}