* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type='submit'] {
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    background: linear-gradient(to bottom right, #366785, #98d8ff);
    color: #fff;
    font-size: 24px;
    font-family: 'Oswald', serif;
    font-weight: 400;
}

.container {
    max-width: 1689px;
    padding: 0px 31px;
    margin: 0 auto;
}

.title-content {
    display: flex;
    column-gap: 10px;
}

.tag-el {
    font-size: 20px;
    padding: 1px 12px 4px 12px;
    font-weight: 200;
    background-color: #e3e3e3;
    color: #676767;
    border-radius: 20px;
    @media (max-width: 1275px) {
        font-size: 16px;
        padding: 1px 10px 4px 10px;
    }
}

.title-row {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        font-weight: 200;
        font-size: 54px;
        line-height: 50%;
    }
    & img {
        width: 39px;
    }
}

.menu {
    display: flex;
}

.menu-btn {
    z-index: 51;
}

.red {
    // border-bottom: 1px solid red;
    color: red;
}

.filters {
    margin-bottom: 10px;
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 30%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 55px;
    background-color: #fff;
    & li {
        color: black;
    }
    @media (max-width: 950px) {
        padding: 20px;
        width: 70%;
    }
}

.fav {
    column-gap: 5px;
    display: flex;
}

.content-row {
    display: flex;
}

.content-card {
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    padding: 12px 24px;
    height: 358px;
    overflow: hidden;
    width: 376px;
    & p {
        font-weight: 200;
        max-width: 300px;
    }
    & h2 {
        font-size: 32px;
    }
}

.visible-overflow {
    overflow: auto;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 41px;
    row-gap: 31px;
    margin-bottom: 30px;
    @media (max-width: 1275px) {
        display: flex;
        justify-content: center;
    }
}

.card-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 9px;
}

.img-row {
    display: flex;
    column-gap: 10px;
}

.card-img {
    width: 21px;
    height: 21px;
}

#card-title-input::placeholder {
    font-size: 32px;
}

#card-text-input::placeholder {
    font-size: 24px;
    font-weight: 200;
}

#card-title-input {
    font-size: 32px;
    max-width: 230px;
    padding: 0 5px 0 0;
}

#card-text-input {
    font-size: 24px;
    font-weight: 200;
    width: 100%;
    height: 100%;
}

#card-text {
    width: 100%;
}

#card-title {
    max-width: 245px;
    padding: 0 5px 0 0;
}

@media (max-width: 750px) {
    .title-row {
        margin-top: 25px;
        margin-bottom: 30px;
        column-gap: 7px;
        & h1 {
            font-size: 34px;
        }
        & img {
            width: 24px;
        }
    }

    .content-card {
        padding: 8px 20px;
        height: 294px;
        width: 100%;
        & p {
            font-size: 18px;
        }
        h2 {
            font-size: 22px;
        }
    }
    #card-title-input::placeholder {
        font-size: 22px;
    }

    #card-text-input::placeholder {
        font-size: 18px;
        font-weight: 200;
    }

    #card-title-input {
        font-size: 22px;
        max-width: 245px;
        padding: 0 5px 0 0;
    }

    #card-text-input {
        font-size: 18px;
        font-weight: 200;
        width: 100%;
        height: 100%;
    }

    .card-img {
        width: 20px;
    }
}

.hidden {
    display: none;
}

@media (max-width: 450px) {
    #card-title-input,
    #card-title {
        max-width: 185px;
    }

    #card-text-input {
        font-size: 18px;
        font-weight: 200;
        width: 100%;
        height: 100%;
    }
}

.hidden {
    display: none;
}
